body {
  padding-left: 50px;
}

.container-messages {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.message {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  border-left: 2px solid red;
  width: 350px;
}

.text {
  font-size: 1.5em;
}

.user {
  font-size: 1em;
}

.date {
  font-size: 0.8em;
  font-style: italic;
}

.add-msg-btn {
  display: inline-block;
  font-weight: bold;
  background-color: lightblue;
  padding: 5px 10px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  transition: transform 0.3s ease-out;
  text-decoration: none;
  color: black;
}

.add-msg-btn:hover {
  transform: scale(1.1);
}
